:root {
  /* Colors */
  --primary-color: #dfdfe2;
  --secondary-color: #ffffff;
  --app-background-color: #4d4d62;
  --background-color: #1b1b32;
  --foreground-color: #3b3b4f;
  --highlight-color: #f1be32;

  /* Font Sizes */
  --root-font-size: 20px;
  font-size: var(--root-font-size);

  /* Font Families */
  --font-headline: "Roboto Mono", monospace;
  --font-family: "Lato", sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4d4d62;
  color: #dfdfe2;
  font-family: 'Lato', sans-serif;
  height: auto;
  display: flex;
  gap: 0;
}
.nav-bar {
  background-color: #1b1b32;
  width: 20%;;
  height: 99.7vh;
  position: fixed;
  margin-top: 1px;
  padding: 20px;
  border: 3px solid var(--foreground-color);
}

.logo{
  height: 50px;
  width: 75%;
  text-align: center;
}


.logo h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 10px;
}

.logo img{
  width: 100px;
  height: 50px;
}

.nav-bar ul li{
  margin-top: 10px;
  list-style: none;
  padding-bottom: 20px;
}

.nav-bar ul li a :hover {
  color: #f1be32;
}

.active {
  font-weight: bold;
  color: #f1be32 !important;
}

.player-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
  width: 100%;
  height: 5vh;
  }
  
  .container-song {
    padding: 0px;
    width: 100%;
  }
  #search-form {
    width:100%;
    margin: 0;
  }
  #search-form input {
    background-color: var(--app-background-color);
    color: var(--primary-color);
    width: 100%;
    font-size: 14px;
    padding: 6px 15px;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 2px;
    position: relative;
    top: 15px;
  }
  #search-form button {
    position: relative;
    left: 94%;
    top: -16px;
    background-color: transparent;
    outline: none;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--secondary-color);
  }
  
  #search-form ::placeholder{
  color: var(--primary-color);
<<<<<<< HEAD
  width: 1190px;
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid rgb(103, 103, 103);
  border-radius: 2px;
}
#search-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: var(--secondary-color);
}

#search-form ::placeholder{
color: var(--primary-color);
}
=======
  }
  
>>>>>>> 91ace5953bad356c11aea51129dc4600d507d7c2
 
  /*class main */
.main {
    flex: 1;
    padding: 10px;
    width: 79.8%;
    height: 250vh;
    background-color: #1b1b32;
    margin-left: 20%;
    margin-top: 5px;
    
}
.container-song {
  padding: 0px;
}
    

  /* Grid Layout */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2px;
    justify-items: center;
  }
  
  /* Card Styling */
  .artist-card{
  background-color: #2a2a40;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 85%;
  height: 37vh;
  margin: 10px;
  display: inline-block; /* Mimics grid without flex or grid properties */
  vertical-align: top;
  }
  .name{
    margin: 10px;
    font-weight: bold;
  }
  
  .artist-card img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  /* Card Styles */
.album-card, .free-album-card {
  background-color: #2a2a40;
  border-radius: 10px;
  overflow: hidden;
  width: 17%;
  margin: 5px;
  justify-content: center;
  
  text-align: center;
  color: #ffffff;
  margin-right: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.info{
  margin-bottom: 30px;
}

.album-card:hover, .free-album-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Card Image */
.album-card img, .free-album-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 2px solid #1a1a30;
}

/* Info Section */
.album-card .info, .free-album-card .info {
  padding: 10px;
}

.album-card .info .name, .free-album-card .info .name {
  font-size: 1rem;
  margin-bottom: 5px;
  background-color: #2a2a40;
  padding: 10px;
  color: white;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
 
}

.album-card .info .title, .free-album-card .info .title {
  font-size: 0.8rem;
  color: #cfcfcf;
  margin: 5px 0;
  min-height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.album-card .info .time, .free-album-card .info .time {
  font-size: 0.5rem;
  color: #a1a1a1;
  margin-top: 5px;
  color: #f1be32;
}

/* Section Styling */
.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
  margin-top: 20px; 
  margin-left: 20px;
}


/* Album Container */
.album-container, .free-album-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  
}


/* Responsive for Tablets and iPads */
@media screen and (max-width: 768px) {
  player-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
    width: 100%;
    height: 30px;
    }
    
    .container-song {
      padding: 0px;
      width: 100%;
    }
    #search-form {
      width:100%;
      margin: 0;
    }
    #search-form input {
      background-color: var(--app-background-color);
      color: var(--primary-color);
      width: 100%;
      font-size: 14px;
      padding: 6px 15px;
      border: 1px solid rgb(103, 103, 103);
      border-radius: 2px;
      position: relative;
      top: 3px;
    }

  .album-container, .free-album-card-container,.grid{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* 2 ជួរដេក */
    gap: 10px; 
    justify-content: center; 
  }
  .artist-card{
    width: 90%;
    height:auto;
  }
  .artist-card:nth-child(5){
    display: none;
  }
  .album-card:nth-child(5){
    display: none;
  }

  .album-card, .free-album-card {
    width: 90%;
    height: auto;
    margin: 0 auto; 
  }

  .album-card img, .free-album-card img {
    width: 100%; 
    height: 280px; 
    object-fit: cover; 
  }
  .main{
    background-color: #1b1b32;
    height: auto;
  }
  .nav-bar{
    background-color: var(--background-color);
    width: 20%;
    margin-top: 5px;
    padding: 10px;
    border-bottom: 2px solid var(--foreground-color);
    position: fixed;
    height: 99.9vh;
  }
  .logo {
    height: 5vh;
    width: 100%;
  }
  .logo img{
    width: 60px;
    height: 40px;
}
  .logo h1{
    font-weight: bold;
    font-family: var(--font-headline);
    font-size: 14px;
}
  .nav-bar ul{
    padding: 5px;
    font-size: 0.7rem;
  }

}
/* For Phones and Smaller Devices */
@media screen and (max-width: 480px) {
  .album-container, .free-album-card-container {
    grid-template-columns: 1fr;
    gap: 5px; 
  }

  /* Smaller width for album cards */
  .album-card, .free-album-card {
    width: 80%; 
    margin-left: 40px;
  }

  /* Adjust image size in album cards */
  .album-card img, .free-album-card img {
    height: 150px; 
    width: 100%;
  }
  .main{
    margin-right: auto;
    width: 100%;
    height: auto;
  }

  /* Main section adjustments */

  body {
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }

  .nav-bar {
    width: 100%;
    height: 8vh; 
    padding: 1px; 
    position: fixed;
    bottom: 0;
    border: none;
    background-color: #1b1b32; 
    z-index: 1000;
  }

  .nav-bar ul {
    background-color: #1b1b32;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: none;
  }

  .nav-bar ul li a span {
    display: none;
  }
  .nav-bar ul li a i{
    position: relative;
    bottom: 65px;
  }

  .logo {
    display: none;
  }

  .logo img, .logo h1 {
    display: none;
  }

  
}












  
 