:root {
  /* Colors */
  --primary-color: #dfdfe2;
  --secondary-color: #ffffff;
  --app-background-color: #4d4d62;
  --background-color: #1b1b32;
  --foreground-color: #3b3b4f;
  --highlight-color: #f1be32;

  /* Font Sizes */
  --root-font-size: 20px;
  font-size: var(--root-font-size);

  /* Font Families */
  --font-headline: "Roboto Mono", monospace;
  --font-family: "Lato", sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4d4d62;
  color: #dfdfe2;
  font-family: 'Lato', sans-serif;
  height: auto;
  display: flex;
  gap: 0;
  overflow: hidden;
}
.nav-bar {
  background-color: #1b1b32;
  width: 20%;;
  height: 99vh;
  position: fixed;
  margin-top: 1px;
  padding: 20px;
  border: 3px solid var(--foreground-color);
}

.logo{
  height: 50px;
  width: 90%;
}


.logo h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 26px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 10px;
}

.logo img{
  width: 100px;
  height: 50px;
}

.nav-bar ul li{
  margin-top: 10px;
  list-style: none;
  padding-bottom: 20px;
}

.nav-bar ul li a :hover {
  color: #f1be32;
}

.active {
  font-weight: bold;
  color: #f1be32 !important;
}

.container{
margin: 0;
padding: 0;
width: 79.8%;
height: 99vh;
margin-left: 20.2%;
}


.playlist,
.player{
  width: 99.7%;
  background-color: var(--background-color);
  border: 3px solid var(--foreground-color);
  margin-top: 2px;
}

.player {
  height: 60vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}


.player-bar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 2px;
width: 100%;
height: 30px;
}

.container-song {
  padding: 0px;
  width: 100%;
}
#search-form {
  width:100%;
  margin: 0;
}
#search-form input {
  background-color: var(--app-background-color);
  color: var(--primary-color);
  width: 100%;
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid rgb(103, 103, 103);
  border-radius: 2px;
  position: relative;
  top: 15px;
}
#search-form button {
  position: relative;
  left: 94%;
  top: -16px;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: var(--secondary-color);
}

#search-form ::placeholder{
color: var(--primary-color);
}

.fcc-title,
.playlist-title {
  color: var(--secondary-color);
  margin: 0 10px;
  font-family: var(--font-headline);
}

.player-content {
  display: flex;
  background-color: var(--foreground-color);
  width: 99.5%;
  height: 50vh;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}

#player-album-art {
  margin-top: 15px;
  width: 31%;
  height: 45vh;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-image {
  animation: rotate 5s linear infinite;
}

.rotate-image:hover {
  animation: rotate 5s linear infinite;
}

#player-album-art img {
  width: 80%;
  height: 43vh;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-color);
  position: relative;
  left: 30px;
}

.player-display {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 14px;
  background-color: var(--background-color);
  height: 45vh; 
  width: 70%;
  position: relative;
  right: 15px;
}

.player-display-song-artist {
  height: 80px;
}

.player-buttons svg {
  fill: var(--primary-color);
}

.playing > svg {
  fill: var(--highlight-color);
}

.playlist-song {
  outline-color: var(--highlight-color);
}

.playlist li:not(:last-child) {
  border-bottom: 1px solid var(--background-color);
}

[aria-current="true"] {
  background-color: var(--background-color);
}

[aria-current="true"] p {
  color: var(--highlight-color);
}


.playlist-song-info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 7px;
  padding: 5px 20px;
  font-family: var(--font-family);
  cursor: pointer;
}


#player-song-title,
#player-song-artist {
  margin: 0;
  text-align: center;
}

#player-song-artist {
  color: var(--highlight-color);
  font-size: 0.8rem;
}

#player-song-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.playlist-song-title {
  font-size: 0.7rem;
  width: 160px;
  text-align: center;
}

.playlist-song-artist {
  font-size: 0.725rem;
  width: 120px;
  text-align: center;
}

.playlist-song-duration {
  font-size: 0.725rem;
  margin: auto;
  font-family: var(--font-headline);
  width: 20px;
}

.playlist-song-delete {
  padding: 0;
  width: 50px;
  height: 20px;
}

.playlist-song-delete:hover circle,
.playlist-song-delete:focus circle {
  fill: #ff0000;
}

/* Volume Control */
.volume-control-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.volume-control-container i {
  font-size: 1.2rem;
  color: var(--primary-color);
}

#volumeControl {
  width: 100px;
  cursor: pointer;
}


#time-song{
  font-size: 1.2rem;
  position: relative;
  margin: -5px;
}

/* Progress Bar */
.progress {
  width: 100%;
  margin-top: 5px;
  height: 2px;
}

.progress-bar {
  width: 100%;
  height: 2px;
  background: var(--app-background-color);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}

.progress-bar:hover {
  opacity: 1;
}

#progressSlider {
  --slider-color: red;
  accent-color: var(--slider-color);
}


/* Time Display */
.Time-deplay {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 0.8rem;
  color: var(--primary-color);
}
.playlist {
  height: 380px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}


.playlist-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  height: 30px;
  background-color: var(--foreground-color);
}

.parallel-lines {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  padding: 0 5px;
}

.parallel-lines > div {
  height: 2px;
  width: 100%;
  min-width: 95px;
  background-color: var(--highlight-color);
}

.playlist-title {
  color: var(--secondary-color);
  margin: 0 10px;
  font-family: var(--font-headline);
  font-size: 26px;
}

#playlist-songs {
  width: 100%;
  height: 400x;
  background-color: var(--foreground-color);
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--background-color) var(--secondary-color);
}

/* Custom Scrollbar for WebKit Browsers (Chrome, Safari, etc.) */
#playlist-songs::-webkit-scrollbar {
  width: 8px;
}

#playlist-songs::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 4px;
}

#playlist-songs::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 4px;
}

#playlist-songs::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}

.playlist-song {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

[aria-current="true"] {
  background-color: var(--background-color);
}

[aria-current="true"] p {
  color: var(--highlight-color);
}

.playlist-song-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 7px;
  padding: 5px 20px;
  font-family: var(--font-family);
}

.playlist-song-title {
  font-size: 0.85rem;
  width: 80%;
  text-align: left;
}

.playlist-song-artist {
  font-size: 0.725rem;
  width: 50%;
}


.playlist-song-duration {
  font-size: 0.725rem;
  margin: auto;
  font-family: var(--font-headline);
  width: 5%;
}

.playlist-song-delete {
  padding: 0;
  width: 50px;
  height: 20px;
}

.playlist-song-delete:hover circle,
.playlist-song-delete:focus circle {
  fill: #ff0000;
}
